@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
   .custom-border-radius {
    border-radius: 67% 33% 30% 70% / 30% 30% 70% 70%;
  }
  .bg{
    background: linear-gradient(111.78deg, #234EB0 8.68%, #B656E2 83.64%);
    border-radius: 67% 33% 30% 70% / 30% 30% 70% 70%;
  }
  
}